<% if @projects.blank? %>
  <!-- <h4>There are no projects containing the material <%= params[:search] %>.</h4> -->
  
  <h4>There are no projects yet.</h4>
    <% if !logged_in? %>
    <%= link_to "Log in", login_path %>
    <% else %>
    <%= link_to "Create a project", new_project_path %>
    <% end %>
    and start sewing!</h4>
<% else %>
  <%= render 'all_projects' %>
<% end %>