<h1>All Categories</h1>


<% @categories.each do |category| %>
    <ul>
        <strong><%= category.name %></strong> <%= link_to "show projects in this category", category_path(category) %> 
    </ul>              
    
<% end %> <br> <br>
