<div class = "nav_footer">
<br>
<br>
<br>
  <%= link_to 'See All Projects', projects_path %>
| <%= link_to 'See All Materials', materials_path %>
| <%= link_to 'See All Categories', categories_path %>
| <%= link_to 'Create New Project', new_project_path %>
</div>